#sidestore dependencies
[submodule "Dependencies/minimuxer"]
    path = Dependencies/minimuxer
    url = https://github.com/xw-yin/minimuxer
    branch = develop
[submodule "Dependencies/AltSign"]
    path = Dependencies/AltSign
    url = https://github.com/SideStore/AltSign
    branch = master
